@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>امیر آباد</title>
    <link rel='stylesheet' id='contact-form-7-css'
          href='~/Content/client/assets/plugins/contact-form-7/includes/css/styles1748.css?ver=5.0.5' type='text/css' media='all' />
    <link rel='stylesheet' id='lt-custom-css' href='~/Content/client/assets/plugins/lt-custom/css/lt-custom5152.css?ver=1.0'
          type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'
          href='~/Content/client/assets/plugins/woocommerce/assets/css/woocommerce-smallscreen9d52.css?ver=3.5.1' type='text/css'
          media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'
          href='~/Content/client/assets/plugins/woocommerce/assets/css/woocommerce9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='~/Content/client/assets/themes/drug-store/assets/css/bootstrap-grid5152.css?ver=1.0'
          type='text/css' media='all' />
    <link rel='stylesheet' id='holamed-plugins-css-css'
          href='~/Content/client/assets/themes/drug-store/assets/css/pluginsb34d.css?ver=1.7.4' type='text/css' media='all' />
    <link rel='stylesheet' id='holamed-theme-style-css' href='~/Content/client/assets/themes/drug-store/styleb34d.css?ver=1.7.4'
          type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'
          href='~/Content/client/assets/plugins/js_composer/assets/css/js_composer.min24b2.css?ver=5.5.5' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-linecons-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/linecons/css/lineconsc47d.css?ver=2.7.20'
          type='text/css' media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-font-awesome-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.minc47d.css?ver=2.7.20'
          type='text/css' media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-entypo-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/entypo/css/entypoc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-linearicons-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/lnr/css/lnrc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-typicons-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/typcn/css/typcnc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-unycon-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/unycon/unyconc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='holamed_google_fonts-css'
          href='http://fonts.googleapis.com/css?family=Lora:400,400i,700%7CNiramit:700%7CShare+Tech+Mono&amp;subset=latin'
          type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/themes/drug-store/assets/js/modernizr-2.6.2.min61da.js?ver=2.6.2'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    @*<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css'/>*@

    <link rel="alternate" type="application/json+oembed"
          href="~/Content/client/json/oembed/1.0/embed1d24.json?url=http%3A%2F%2Fholamed.like-themes.com%2F" />
    <link rel="icon" href="~/Content/client/assets/uploads/2018/11/cropped-favicon-48x48.png" sizes="32x32" />


    <link href="~/Content/client/new-style.css" rel="stylesheet" />
</head>

<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page woocommerce-no-js tribe-no-js masthead-fixed list-view full-width footer-widgets paceloader-enabled wpb-js-composer js-comp-ver-5.5.5 vc_responsive">
    @RenderBody()

    @Html.Action("FooterSection", "Home")


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <script type='text/javascript' src='~/Content/client/assets/plugins/contact-form-7/includes/js/scripts1748.js?ver=5.0.5'></script>
    <script type='text/javascript' src='~/Content/client/assets/plugins/lt-custom/js/colorpicker5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/plugins/lt-custom/js/lt-custom5152.js?ver=1.0'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>

    <script type='text/javascript'
            src='~/Content/client/assets/plugins/woocommerce/assets/js/frontend/cart-fragments.min9d52.js?ver=3.5.1'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/imagesloaded.min55a0.js?ver=3.2.0'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/masonry.mind617.js?ver=3.3.2'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jquery.masonry.minef70.js?ver=3.1.2b'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.countdown3601.js?ver=2.2.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.counterup.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.matchHeight8d9d.js?ver=4.9.16'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.nicescroll87e3.js?ver=3.7.6'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.swipeboxc2d0.js?ver=1.4.4'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/chart.minde39.js?ver=2.7.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.zoomsliderf096.js?ver=0.2.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/waypoint1f22.js?ver=1.6.2'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/affix7433.js?ver=3.3.7'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.paroller.mine7f0.js?ver=1.3.1'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/swiperb523.js?ver=4.3.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/parallax.minc358.js?ver=1.1.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/parallax-scroll.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/scrollreveal7984.js?ver=3.3.4'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/scriptsb34d.js?ver=1.7.4'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/map-style8a54.js?ver=1.0.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/pace8d9d.js?ver=4.9.16'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/wp-embed.min8d9d.js?ver=4.9.16'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/js_composer/assets/js/dist/js_composer_front.min24b2.js?ver=5.5.5'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/js_composer/assets/lib/waypoints/waypoints.min24b2.js?ver=5.5.5'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/mailchimp-for-wp/assets/js/forms-api.mind19b.js?ver=4.2.5'></script>

    <script>
        var compareList = [];

        function AddToCompareList(id) {
            if (!compareList.includes(id)) {
                var t = ".compare_" + id;
                $(t).css("color", "red");

                if (compareList.length < 5) {
                    compareList.push(id);


                    if (compareList.length != 0) {
                        $("#compare").show();
                        $("#compare").text("مقایسه" + "(" + compareList.length + ")");
                    }
                    else {
                        $("#compare").hide();
                        $("#compare").text("مقایسه");
                    }
                }
                else {
                    alert("لیست مقایسه بیشتر از 4 مورد است");
                }
            }
            else {
                compareList.pop(id);
                var t = ".compare_" + id;
                $(t).css("color", "white");
                if (compareList.length != 0) {
                    $("#compare").show();
                    $("#compare").text("مقایسه" + "(" + compareList.length + ")");
                }
                else {
                    $("#compare").hide();
                    $("#compare").text("مقایسه");
                }
            }
        }


        $("#compare").click(function () {
            var items = "";
            for (var i = 0; i < compareList.length; i++) {
                if (i == compareList.length - 1) {
                    items += compareList[i];
                }
                else {
                    items += compareList[i] + "-";
                }
            }
            window.location.href = "/Shop/Compare?CompareList=" + items;
        });



        if (window.location.pathname == "/" || window.location.pathname.toLowerCase() == "/home/index" || window.location.pathname.toLowerCase() == "/home") {
            $("body").addClass("theme-3");
        }

        GetWishList();

        function wish(id) {
            var t = ".product_" + id;

            if ($(t).css("color") == "rgb(255, 0, 0)") {
                $(t).css("color", "");
                $("#GH").css("color", "");
                removeFromWishList(id);
            }
            else {
                $(t).css("color", "red");
                $("#GH").css("color", "red");
                AddToWishList(id);
            }
        }

        function AddToWishList(id) {
            $("#loading").show();
            $.ajax({
                type: 'POST',
                url: '/Cookie/AddToWishList?productId=' + id,
                success: function (data) {
                    //   var t = ".product_" + id;
                    //$(t).css("color", "red");
                    relod();
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                    $("#loading").fadeOut(1000);
                }
            });
        }



        function removeFromWishList(id) {
            $("#loading").show();
            $.ajax({
                type: 'POST',
                url: '/Cookie/RemoveFromWishList?productId=' + id,
                success: function (data) {
                    var t = ".product_" + id;
                    $(t).css("color", "white");
                    RelodWishList();
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                    $("#loading").fadeOut(1000);
                }
            });
        }
        function RelodWishList() {
            window.location.href = "/Cookie/WishListTable";
        }


        function GetWishList() {
            $.ajax({
                type: 'GET',
                url: '/Cookie/WishListTable',
                success: function (data) {
                    //var obj = JSON.parse(data);
                    //console.log(obj);
                    //for (var i = 0; i < obj.WishListItems.length; i++) {
                    //    var t = ".product_" + obj.WishListItems[i].Id;
                    //    $(t).css("color", "red");
                    //}
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
        }

        function relod() {
            window.location.href = "/Cookie/n";
        }

        function AddToCart(id, mainFeature) {
            $("#preloader").show();
            var mainFeatureId = null;
            if (mainFeature != null) {
                mainFeatureId = mainFeature;
            }
            if (mainFeatureId === null) {
                $.ajax({
                    type: 'POST',
                    url: '/Cookie/AddToCart?productId=' + id,
                    success: function (data) {
                        //GetCartt();
                        GetCart(id);

                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                        $("#preloader").fadeOut(1000);
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Cookie/AddToCart?productId=' + id + '&mainFeatureId=' + mainFeatureId,
                    success: function (data) {
                        GetCart();
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    },
                    complete: function () {
                        $("#preloader").fadeOut(1000);
                    }
                });
            }
        }

        function GetCart(id) {
            window.location.href = "/Shop/Detail?id=" + id;
        }

        //function GetCart() {
        //    $.ajax({
        //        type: 'GET',
        //        url: '/Cookie/CartSection',
        //        success: function (data) {
        //            $("#cartSection").html(data);
        //        },
        //        error: function (data) {
        //            console.log("error");
        //            console.log(data);
        //        },
        //        complete: function () {
        //        }
        //    });
        //    if ($("#CartTable") !== undefined) {
        //        $.ajax({
        //            type: 'GET',
        //            url: '/Cookie/CartTable',
        //            success: function (data) {
        //                $("#CartTable").html(data);
        //            },
        //            error: function (data) {
        //                console.log("error");
        //                console.log(data);
        //            },
        //            complete: function () {
        //            }
        //        });
        //    }
        //}


        function GetCartt() {

            window.location.href = "/Cookie/CardShow";
        }


        //function GetCartt() {

        //    $.ajax({
        //        type: 'GET',
        //        url: '/Cookie/CardShow',
        //        success: function (data) {
        //            $("#CardShow").html(data);
        //        },
        //        error: function (data) {
        //            console.log("error");
        //            console.log(data);
        //        },
        //        complete: function () {
        //        }
        //    });
        //    if ($("#CartTable") !== undefined) {
        //        $.ajax({
        //            type: 'GET',
        //            url: '/Cookie/CartTable',
        //            success: function (data) {
        //                $("#CartTable").html(data);
        //            },
        //            error: function (data) {
        //                console.log("error");
        //                console.log(data);
        //            },
        //            complete: function () {
        //            }
        //        });
        //    }
        //}
        function RemoveFromCart(id, mainFeatureId, complete) {
            $("#preloader").show();
            $.ajax({
                type: 'POST',
                url: '/Cookie/RemoveFromCart?productId=' + id + '&mainFeatureId=' + mainFeatureId + '&complete=' + complete,
                success: function (data) {
                    GetCart();

                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                    $("#preloader").fadeOut(1000);
                }
            });
        }

        function RemoveFromCartt(id, mainFeatureId, complete) {
            $("#preloader").show();
            $.ajax({
                type: 'POST',
                url: '/Cookie/RemoveFromCart?productId=' + id + '&mainFeatureId=' + mainFeatureId + '&complete=' + complete,
                success: function (data) {
                    GetCartt();
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                    $("#preloader").fadeOut(1000);
                }
            });
        }
        function GetPopup(id) {
            $("#preloader").show();
            $.ajax({
                type: 'Get',
                url: '/Shop/PopupData/' + id,
                success: function (data) {
                    $(".pop").html(data);
                    $(".pop").removeClass("mfp-hide");
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                    $("#preloader").fadeOut(1000);
                }
            });
        }
    </script>
    @*<script>
            $(document).ready(function () {
                $("#BtnSubScribe").click(function (e) {
                    //if ($("#usernameInput").val() == "")
                    //    alert("Username cannot be empty");
                    //else if ($("#passwordInput").val() == "")
                    //    alert("Password cannot be empty");
                    //else {
                    $.ajax({
                        type: "POST",
                        url: "/Home/RegisterEmail",
                        contentType: "application/json; charset=utf-8",
                        data: '{"email":"' + $("#emailf").val() + '","Name":"' + $("#name").val() + '","Message":"' + "پیام ندارد" + '","Phone":"' + "0912111111" + '"}',

                        success: function (data) {
                            if (data == 'success') {
                                $("#BtnSubScribe").text("با موفقیت ثبت شد")
                                $("#BtnSubScribe").css("background-color", "green");
                                $("#emailf").val("")
                            }
                            if (data == 'fail') {

                                //$("#text").val("صحیح نیست")
                                $("#BtnSubScribe").text("صحیح نیست")
                                $("#BtnSubScribe").css("background-color", "red");
                                $("#emailf").val("")

                            };
                            if (data == 'faill') {
                                $("#BtnSubScribe").text("کاربر دیگری با همین ایمیل در سیستم ثبت شده")
                                $("#BtnSubScribe").css("background-color", "red");
                                $("#emailf").val("")

                            };

                            e.preventDefault()
                        },
                        error: function () {
                            alert('error');
                        }


                    });
                    //}
                    return false;
                });
            });
        </script>*@

    <script>
        $(document).ready(function () {
            $("#ButtonEmail").click(function (e) {
             
                //if ($("#usernameInput").val() == "")
                //    alert("Username cannot be empty");
                //else if ($("#passwordInput").val() == "")
                //    alert("Password cannot be empty");
                //else {
                jQuery.ajax({
                    type: "POST",
                    url: "/Home/RegisterEmail",
                    contentType: "application/json; charset=utf-8",
                    data: '{"email":"' + $("#emailSub").val() + '","Name":"' + "کاربری که با ایمیل ثبت شده" + '","Message":"' + "پیام ندارد" + '","Phone":"' + "0912111111" + '"}',

                    success: function (data) {
                        if (data == 'success') {
                            $("#ButtonEmail").text("با موفقیت ثبت شد")
                            $("#ButtonEmail").css("background-color", "green");
                            $("#emailSub").val("")
                        }
                        if (data == 'fail') {

                            //$("#text").val("صحیح نیست")
                            $("#ButtonEmail").text("صحیح نیست")
                            $("#ButtonEmail").css("background-color", "red");
                            $("#emailSub").val("")

                        };
                        if (data == 'faill') {
                            $("#ButtonEmail").text("کاربر دیگری با همین ایمیل در سیستم ثبت شده")
                            $("#ButtonEmail").css("background-color", "red");
                            $("#emailSub").val("")

                        };

                        e.preventDefault()
                    },
                    error: function () {
                        alert('error');
                    }


                });
                //}
                return false;
            });
        });
    </script>


    @*<script>

            function GetGrid() {
                var x = document.getElementById("sort").value;
                document.getElementById("demo").innerHTML = "You selected: " + x;
            }

        </script>*@




    @RenderSection("script", required: false)
</body>
</html>


