@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>امیر آباد</title>
    <link rel='stylesheet' id='contact-form-7-css'
          href='~/Content/client/assets/plugins/contact-form-7/includes/css/styles1748.css?ver=5.0.5' type='text/css' media='all' />

    <link rel='stylesheet' id='lt-custom-css' href='~/Content/client/assets/plugins/lt-custom/css/lt-custom5152.css?ver=1.0'
          type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'
          href='~/Content/client/assets/plugins/woocommerce/assets/css/woocommerce-smallscreen9d52.css?ver=3.5.1' type='text/css'
          media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'
          href='~/Content/client/assets/plugins/woocommerce/assets/css/woocommerce9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='~/Content/client/assets/themes/drug-store/assets/css/bootstrap-grid5152.css?ver=1.0'
          type='text/css' media='all' />
    <link rel='stylesheet' id='holamed-plugins-css-css'
          href='~/Content/client/assets/themes/drug-store/assets/css/pluginsb34d.css?ver=1.7.4' type='text/css' media='all' />
    <link rel='stylesheet' id='holamed-theme-style-css' href='~/Content/client/assets/themes/drug-store/styleb34d.css?ver=1.7.4'
          type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'
          href='~/Content/client/assets/plugins/js_composer/assets/css/js_composer.min24b2.css?ver=5.5.5' type='text/css'
          media='all' />

    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-linecons-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/linecons/css/lineconsc47d.css?ver=2.7.20'
          type='text/css' media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-font-awesome-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.minc47d.css?ver=2.7.20'
          type='text/css' media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-entypo-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/entypo/css/entypoc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-linearicons-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/lnr/css/lnrc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-typicons-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/typcn/css/typcnc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fw-option-type-icon-v2-pack-unycon-css'
          href='~/Content/client/assets/plugins/unyson/framework/static/libs/unycon/unyconc47d.css?ver=2.7.20' type='text/css'
          media='all' />
    <link rel='stylesheet' id='holamed_google_fonts-css'
          href='http://fonts.googleapis.com/css?family=Lora:400,400i,700%7CNiramit:700%7CShare+Tech+Mono&amp;subset=latin'
          type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/themes/drug-store/assets/js/modernizr-2.6.2.min61da.js?ver=2.6.2'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
  @*<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css'>*@
    <link rel="alternate" type="application/json+oembed"
          href="~/Content/client/json/oembed/1.0/embed1d24.json?url=http%3A%2F%2Fholamed.like-themes.com%2F" />
    <link rel="icon" href="~/Content/client/assets/uploads/2018/11/cropped-favicon-48x48.png" sizes="32x32" />
    <link rel="stylesheet" href="~/Content/client/new-style.css">

</head>
<body class="product-template-default single single-product postid-5569 woocommerce woocommerce-page woocommerce-no-js tribe-no-js masthead-fixed full-width footer-widgets singular paceloader-enabled wpb-js-composer js-comp-ver-5.5.5 vc_responsive">
    <div id="preloader"></div>
    <!--Header-->
    <div class="ltx-topbar-block hidden-ms hidden-xs ltx-topbar-before-transparent ltx-box-shadow">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <ul class="ltx-block-icon icons-count-3  ltx-icon-h-right align-left ltx-icon-type-circle layout-inline "
                                id="like_sc_block_icon_157973812">
                                <li>
                                    <div data-mh="ltx-block-icon-in-1448" class="">
                                        <span class="ltx-icon fa fa-phone  bg-bg-transparent"
                                              data-mh="ltx-icon-span-like_sc_block_icon_157973812"></span>
                                        <div class="block-right">
                                            <h6 class="header">
                                                <span> تلفن </span> <a href="tel:0211234567">1234567</a>
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div data-mh="ltx-block-icon-in-1448" class="">
                                        <span class="ltx-icon fa fa-map-marker  bg-bg-transparent"
                                              data-mh="ltx-icon-span-like_sc_block_icon_157973812"></span>
                                        <div class="block-right">
                                            <h6 class="header">
                                                <span> آدرس : </span> تهران ، میدان
                                                آزادی<br />
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div data-mh="ltx-block-icon-in-1448" class="">
                                        <span class="ltx-icon fa fa-clock-o  bg-bg-transparent"
                                              data-mh="ltx-icon-span-like_sc_block_icon_157973812"></span>
                                        <div class="block-right">
                                            <h6 class="header">
                                                <span> ساعت کاری </span> 8 صبح - 5 بعد
                                                از ظهر <br />
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-md vc_hidden-sm vc_hidden-xs text-align-right">
                    <div class="vc_column-inner vc_custom_1541683584708">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element  vc_custom_1541269623923">
                                <div class="wpb_wrapper">
                                    <div class="ltx-navbar-icons">
                                        <ul>
                                            <li class="ltx-fa-icon ltx-nav-profile menu-item-has-children  hidden-md hidden-sm hidden-ms hidden-xs">
                                                <a href="login.html">
                                                    <span class="fa fa-user-circle-o user-icon"></span>
                                                </a>
                                            </li>
                                            <li class="ltx-fa-icon ltx-nav-search   hidden-md hidden-sm hidden-ms hidden-xs">
                                                <div class="top-search">
                                                    <a href="#" id="top-search-ico"
                                                       class="top-search-ico entypo entypo-search" aria-hidden="true"></a>
                                                    <a href="#" id="top-search-ico-close"
                                                       class="top-search-ico-close fa fa-close" aria-hidden="true"></a>
                                                    <input placeholder="Search" value="" type="text">
                                                </div>
                                            </li>
                                            <li class="ltx-fa-icon ltx-nav-cart  hidden-md hidden-sm hidden-ms hidden-xs">
                                                <div class="cart-navbar">
                                                    <a href="checkout.html" class="ltx-cart cart shop_table"
                                                       title="View your shopping cart">
                                                        <span class="cart-contents header-cart-count count">0</span><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="nav-wrapper" class="navbar-layout-white">
        <nav class="navbar " data-spy="" data-offset-top="0">
            <div class=" container">

                <div class="navbar-logo ">
                    <a class="logo ltx-logo-white" href="index.html">
                        <img src="assets/uploads/2018/11/logo_02-1.png"
                             alt="Holamed WordPress Theme">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" data-mobile-screen-width="1600">
                    <div class="toggle-wrap">
                        <a class="logo ltx-logo-white" href="index.html">
                            <img src="assets/uploads/2018/11/logo_02-1.png"
                                 alt="Holamed WordPress Theme">
                        </a>
                        <button type="button" class="navbar-toggle collapsed">
                            <span class="close"><span class="fa fa-close"></span></span>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <ul id="menu-main-menu" class="nav navbar-nav">
                        <li id="menu-item-407"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="index.html"><span>خانه</span></a>
                        </li>
                        <li id="menu-item-409"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="blog.html"><span>بلاگ</span></a>
                        </li>
                        <li id="menu-item-411"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="shop.html"><span>محصولات</span></a>
                        </li>
                        <li id="menu-item-412"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="gallery.html"><span>گالری</span></a>
                        </li>

                        <li id="menu-item-408"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="about.html"><span>درباره ما</span></a>
                        </li>
                        <li id="menu-item-410"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="contacts.html"><span>تماس با ما</span></a>
                        </li>
                        <li id="menu-item-420"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="checkout.html"><span>سبد خرید</span></a>
                        </li>
                        <li id="menu-item-421"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                            <a href="login.html"><span>ورود</span></a>
                        </li>
                    </ul>

                    <div class="mobile-controls">
                        <div>
                            <ul>
                                <li class="ltx-fa-icon ltx-nav-profile menu-item-has-children ">
                                    <a href="login.html">
                                        <span class="fa icon icon-user"></span>
                                    </a>
                                </li>
                                <li class="ltx-fa-icon ltx-nav-search  ">
                                    <div class="top-search">
                                        <a href="#" id="top-search-ico-mobile" class="top-search-ico entypo entypo-search"
                                           aria-hidden="true"></a>

                                        <input placeholder="Search" value="" type="text">
                                    </div>
                                </li>
                                <li class="ltx-fa-icon ltx-nav-cart ">
                                    <div class="cart-navbar">
                                        <a href="../cart/index.html" class="ltx-cart cart shop_table"
                                           title="View your shopping cart">
                                            <span class="cart-contents header-cart-count count">0</span><i class="fa icon icon-shoping" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="navbar-controls">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>
                </div>
            </div>
        </nav>

    </div>
    <!--End Header-->
    <header class="page-header   header-h1  header-parallax ltx-parallax  hasBreadcrumbs">
        <div class="container">
            <h1>محصول</h1>
            <ul class="breadcrumbs" typeof="BreadcrumbList" vocab="https://schema.org/">
                <!-- Breadcrumb NavXT 6.2.1 -->
                <li class="home">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage"
                           title="Go to Home." href="index.html"
                           class="home"><span property="name">خانه</span></a><meta property="position" content="1">
                    </span>
                </li>
                <li class="post post-product current-item">
                    <span property="itemListElement" typeof="ListItem">
                        <span property="name">محصول</span><meta property="position" content="4">
                    </span>
                </li>
            </ul>
        </div>
    </header>
    <div class="container main-wrapper">
        <div class="inner-page margin-default">
            <div class="row centered">
                <div class="col-xl-9 col-lg-12 text-page">
                    <div class="woocommerce-notices-wrapper"></div>
                    <div id="product-5569"
                         class="post-5569 product type-product status-publish has-post-thumbnail product_cat-neurosurgery product_tag-cardiology product_tag-urology first instock featured shipping-taxable purchasable product-type-simple">

                        <div class="row">
                            <div class="col-md-6 col-md-push-6">

                                <div class="swiper-container ltx-post-gallery swiper-container-horizontal"
                                     data-autoplay="4000">
                                    <div class="swiper-wrapper swiper-wrapper-customize"
                                         style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                        <a href="assets/uploads/2018/11/blog_07-1150x600.jpg" data-fancybox="gallery1"
                                           class="delay-1 swiper-slide swiper-slide-active" style="width: 363px;">
                                            <img width="1150"
                                                 height="600"
                                                 src="assets/uploads/2018/11/blog_07-1150x600.jpg"
                                                 class="attachment-drug-store-blog-full size-drug-store-blog-full"
                                                 alt="">
                                        </a><a href="assets/uploads/2018/11/blog_08-1150x600.jpg" data-fancybox="gallery1"
                                               class="delay-1 swiper-slide swiper-slide-next" style="width: 363px;">
                                            <img width="1150"
                                                 height="600"
                                                 src="assets/uploads/2018/11/blog_08-1150x600.jpg"
                                                 class="attachment-drug-store-blog-full size-drug-store-blog-full"
                                                 alt="">
                                        </a><a href="assets/uploads/2018/11/blog_05-1150x600.jpg" data-fancybox="gallery1"
                                               class="swiper-slide" style="width: 363px;">
                                            <img width="1150" height="600"
                                                 src="assets/uploads/2018/11/blog_05-1150x600.jpg"
                                                 class="attachment-drug-store-blog-full size-drug-store-blog-full"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="arrows">
                                        <a href="#" class="arrow-left fa fa-arrow-left swiper-button-disabled" tabindex="0"
                                           role="button" aria-label="Previous slide" aria-disabled="true"></a>
                                        <a href="#" class="arrow-right fa fa-arrow-right" tabindex="0" role="button"
                                           aria-label="Next slide" aria-disabled="false"></a>
                                    </div>
                                    <div class="swiper-pages"></div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <h1 class="product_title entry-title">قرص سرماخوردگی 12 تایی</h1>
                                <p class="price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">1000</span>تومان
                                    </span>
                                </p>
                                <div class="woocommerce-product-details__short-description">
                                    <p>
                                        قرص سرماخوردگی دوازده تایی . اسفتاده برای افراد زیر 5 سال ممنوع است در غیر این صورت
                                        میتواند خطراتی را در پی داشته باشد
                                    </p>
                                </div>


                                <form class="cart" action="http://holamed.like-themes.com/product/pain-pills-12-tabs/"
                                      method="post" enctype='multipart/form-data'>

                                    <div class="quantity">
                                        <label class="screen-reader-text" for="quantity_6045f6e2623b5">کیفیت</label>
                                        <input type="number"
                                               id="quantity_6045f6e2623b5"
                                               class="input-text qty text"
                                               step="1"
                                               min="1"
                                               max=""
                                               name="quantity"
                                               value="1"
                                               title="Qty"
                                               size="4"
                                               pattern="[0-9]*"
                                               inputmode="numeric"
                                               aria-labelledby="" />
                                    </div>

                                    <button type="submit" name="add-to-cart" value="5569"
                                            class="single_add_to_cart_button button alt">
                                        اضافه کردن به سبد خرید
                                    </button>

                                </form>


                                <div class="product_meta">


                                    <span class="posted_in">
                                        دسته بندی: <a href="#"
                                                      rel="tag">دارو</a>
                                    </span>
                                    <span class="tagged_as">
                                        تگ ها: <a href="#" rel="tag">قرص</a>, <a href="#" rel="tag">قرص سرماخوردگی</a>
                                    </span>

                                </div>
                            </div>
                        </div>


                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">توضیحات</a></li>
                            <li><a data-toggle="tab" href="#describe">مشخصات فنی</a></li>
                            <li><a data-toggle="tab" href="#menu1">نظرات</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>توضیحات محصول</h3>
                                <p>
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    داروخانه امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                </p>
                            </div>
                            <div id="describe" class="tab-pane fade">
                                <table id="describe-table">

                                    <tr>
                                        <td>وزن</td>
                                        <td>56 گرم</td>
                                    </tr>
                                    <tr>
                                        <td>ابعاد</td>
                                        <td>9 × 3 × 12 cm</td>
                                    </tr>
                                    <tr>
                                        <td>بارکد وارداتی</td>
                                        <td>5019781000265</td>
                                    </tr>

                                    <tr>
                                        <td>کارایی</td>
                                        <td>بهبود سلامت کبد</td>
                                    </tr>
                                    <tr>
                                        <td> رده سنی</td>
                                        <td>بزرگسالان</td>
                                    </tr>
                                </table>

                            </div>

                            <div id="menu1" class="tab-pane fade">
                                <div id="comments" class="comments-area">


                                    <h3 class="comments-title">
                                        5 کامنت
                                    </h3>

                                    <div class="comments-ol">
                                        <ol class="comment-list">
                                            <li class="comment even thread-even depth-1 comment_item">
                                                <article id="comment-34" class="comment-body comment-single">
                                                    <div class="comment-author-avatar">
                                                        <img alt=""
                                                             src="http://0.gravatar.com/avatar/94f3e814e6edf426ebee655956f88869?s=64&amp;d=mm&amp;r=g"
                                                             class="avatar avatar-64 photo" height="64" width="64">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-info">
                                                            <h6 class="comment-author">رضا محممدی</h6>

                                                            <span class="comment-date-time">
                                                                <span class="comment-date">
                                                                    <span class="fa fa-clock-o"></span>
                                                                    <span class="date-value">
                                                                        <span class="comment_date_value">23 اسفند 1399</span>
                                                                        <span class="comment-time">1:07 بعد از ظهر</span>
                                                                    </span>
                                                                </span>
                                                            </span>

                                                        </div>
                                                        <div class="comment_text_wrap">
                                                            <div class="comment-text">
                                                                <p>
                                                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو
                                                                    است ،
                                                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو
                                                                    است ،
                                                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو
                                                                    است ،
                                                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو
                                                                    است ،
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="comment-reply">
                                                            <a rel="nofollow"
                                                               class="comment-reply-link"
                                                               href="#"
                                                               aria-label="Reply to Sonya Reichert">
                                                                جواب
                                                                دادن
                                                            </a>
                                                        </div>
                                                    </div>
                                                </article>
                                                <ul class="children">
                                                    <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2 comment_item">
                                                        <article id="comment-67" class="comment-body comment-single">
                                                            <div class="comment-author-avatar">
                                                                <img alt=""
                                                                     src="http://1.gravatar.com/avatar/a2b7829954665b642df2c30d97767042?s=64&amp;d=mm&amp;r=g"
                                                                     class="avatar avatar-64 photo" height="64"
                                                                     width="64">
                                                            </div>
                                                            <div class="comment-content">
                                                                <div class="comment-info">
                                                                    <h6 class="comment-author">
                                                                        حسین رضایی<a href="#"></a>
                                                                    </h6>

                                                                    <span class="comment-date-time">
                                                                        <span class="comment-date">
                                                                            <span class="fa fa-clock-o"></span>
                                                                            <span class="date-value">
                                                                                <span class="comment_date_value">23 اسفند 1399</span>
                                                                                <span class="comment-time">8:41 am</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>

                                                                </div>
                                                                <div class="comment_text_wrap">
                                                                    <div class="comment-text">
                                                                        <p>
                                                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین
                                                                            دارو است ،
                                                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین
                                                                            دارو است ،
                                                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین
                                                                            دارو است ،
                                                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین
                                                                            دارو است ،
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-reply">
                                                                    <a rel="nofollow"
                                                                       class="comment-reply-link"
                                                                       href="#">Reply</a>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <ul class="children">
                                                            <li class="comment byuser comment-author-admin bypostauthor even depth-3 comment_item">
                                                                <article id="comment-68"
                                                                         class="comment-body comment-single">
                                                                    <div class="comment-author-avatar">
                                                                        <img alt=""
                                                                             src="http://1.gravatar.com/avatar/a2b7829954665b642df2c30d97767042?s=64&amp;d=mm&amp;r=g"
                                                                             class="avatar avatar-64 photo" height="64"
                                                                             width="64">
                                                                    </div>
                                                                    <div class="comment-content">
                                                                        <div class="comment-info">
                                                                            <h6 class="comment-author">
                                                                                حسین حسینی<a href="#"></a>
                                                                            </h6>

                                                                            <span class="comment-date-time">
                                                                                <span class="comment-date">
                                                                                    <span class="fa fa-clock-o"></span>
                                                                                    <span class="date-value">
                                                                                        <span class="comment_date_value">23 اسفند 1399</span>
                                                                                        <span class="comment-time">9:30 بعد از ظهر</span>
                                                                                    </span>
                                                                                </span>
                                                                            </span>

                                                                        </div>
                                                                        <div class="comment_text_wrap&quot;">
                                                                            <div class="comment-text">
                                                                                <p>
                                                                                    امیر آباد یکی از بهترین ها در زمینه
                                                                                    فروش
                                                                                    آنلاین دارو است ،
                                                                                    امیر آباد یکی از بهترین ها در زمینه
                                                                                    فروش
                                                                                    آنلاین دارو است ،
                                                                                    امیر آباد یکی از بهترین ها در زمینه
                                                                                    فروش
                                                                                    آنلاین دارو است ،
                                                                                    امیر آباد یکی از بهترین ها در زمینه
                                                                                    فروش
                                                                                    آنلاین دارو است ،
                                                                                    امیر آباد یکی از بهترین ها در زمینه
                                                                                    فروش
                                                                                    آنلاین دارو است ،
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="comment-reply">
                                                                            <a rel="nofollow"
                                                                               class="comment-reply-link"
                                                                               href="#">
                                                                                جواب
                                                                                دادن
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </li><!-- #comment-## -->
                                                        </ul><!-- .children -->
                                                    </li><!-- #comment-## -->
                                                </ul><!-- .children -->
                                            </li><!-- #comment-## -->
                                        </ol>
                                    </div>


                                    <div class="comments-form-wrap">
                                        <a class="anchor" id="comments-form"></a>
                                        <div class="comments-form anchor">
                                            <div id="respond" class="comment-respond">
                                                <h3 id="reply-title" class="comment-reply-title font-weight-bold">
                                                    نظرات
                                                    خود
                                                    را بنویسید<small>
                                                        <a rel="nofollow" id="cancel-comment-reply-link"
                                                           href="blog-details.html#respond"
                                                           style="display:none;">
                                                            انصراف
                                                            reply
                                                        </a>
                                                    </small>
                                                </h3>
                                                <form method="post" id="commentform" class="comment-form" novalidate=""
                                                      style="padding: 40px 40px !important">
                                                    <div class="row">
                                                        <div class="comments-field comments_author col-sm-6">
                                                            <label for="author" class="required">Name</label><input id="author"
                                                                                                                    name="author"
                                                                                                                    type="text"
                                                                                                                    placeholder="نام *"
                                                                                                                    value=""
                                                                                                                    size="30"
                                                                                                                    aria-required="true">
                                                        </div>
                                                        <div class="comments-field comments_email col-sm-6">
                                                            <label for="email" class="required">Email</label><input id="email"
                                                                                                                    name="email"
                                                                                                                    type="text"
                                                                                                                    placeholder="ایمیل *"
                                                                                                                    value=""
                                                                                                                    size="30"
                                                                                                                    aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="comments-field comments_message">
                                                        <label for="comment"
                                                               class="required">
                                                            Your
                                                            Message
                                                        </label><textarea id="comment" name="comment"
                                                                          placeholder="نظرات خود را بنویسید"
                                                                          aria-required="true"></textarea>
                                                    </div>

                                                    <p class="form-submit">
                                                        <span class="ltx-btn-wrap">
                                                            <input name="submit"
                                                                   type="submit"
                                                                   id="send_comment"
                                                                   class="submit btn btn-default"
                                                                   value="ثبت کردن">
                                                        </span>
                                                        <input type="hidden" name="comment_post_ID" value="6615"
                                                               id="comment_post_ID">
                                                        <input type="hidden" name="comment_parent" id="comment_parent"
                                                               value="0">
                                                    </p>
                                                </form>
                                            </div><!-- #respond -->
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                        <br>
                        <section class="related products">

                            <h2>محصولات مرتبط</h2>
                            <br>
                            <ul class="products columns-3">


                                <li class="post-6545 product type-product status-publish has-post-thumbnail product_cat-urology product_tag-urology first instock shipping-taxable purchasable product-type-simple">
                                    <div class="item matchHeight" data-mh="ltx-wc-item">
                                        <a href="#">
                                            <div class="image">
                                                <img width="340" height="340" src="assets/uploads/2018/11/11-1-340x340.jpg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     sizes="(max-width: 340px) 100vw, 340px" />
                                            </div>
                                            <h2 class="woocommerce-loop-product__title">ساعت هوشمند پزشکی</h2>
                                        </a>
                                        <span class="price">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">10000</span>تومان
                                            </span>
                                        </span>
                                        <a href="#"
                                           data-quantity="1"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                           data-product_id="6545" data-product_sku=""
                                           aria-label="Add &ldquo;Sport Band&rdquo; to your cart" rel="nofollow">
                                            اضافه کردن به سبد خرید
                                        </a>
                                    </div>
                                </li>


                                <li class="post-4840 product type-product status-publish has-post-thumbnail product_cat-urology product_tag-urology instock shipping-taxable purchasable product-type-simple">
                                    <div class="item matchHeight" data-mh="ltx-wc-item">
                                        <a href="#">
                                            <div class="image">
                                                <img width="340" height="340" src="assets/uploads/2018/11/9-340x340.jpg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     sizes="(max-width: 340px) 100vw, 340px" />
                                            </div>
                                            <h2 class="woocommerce-loop-product__title">باند پزشکی</h2>
                                        </a>
                                        <span class="price">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">50</span>تومان
                                            </span>
                                        </span>
                                        <a href="#"
                                           data-quantity="1"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                           data-product_id="4840" data-product_sku=""
                                           aria-label="Add &ldquo;Medical Scissors&rdquo; to your cart" rel="nofollow">
                                            اضافه کردن به سبد خرید
                                        </a>
                                    </div>
                                </li>


                                <li class="post-6544 product type-product status-publish has-post-thumbnail product_cat-urology product_tag-urology last instock shipping-taxable purchasable product-type-simple">
                                    <div class="item matchHeight" data-mh="ltx-wc-item">
                                        <a href="#">
                                            <div class="image">
                                                <img width="340" height="340" src="assets/uploads/2018/11/10-1-340x340.jpg"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                     alt=""
                                                     sizes="(max-width: 340px) 100vw, 340px" />
                                            </div>
                                            <h2 class="woocommerce-loop-product__title">آمپول</h2>
                                        </a>
                                        <span class="price">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">20</span>تومان
                                            </span>
                                        </span>
                                        <a href="#"
                                           data-quantity="1"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                           data-product_id="6544" data-product_sku=""
                                           aria-label="Add &ldquo;Syringe 5ml&rdquo; to your cart" rel="nofollow">
                                            اضافه کردن به سبد خرید
                                        </a>
                                    </div>
                                </li>


                            </ul>

                        </section>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <section id="ltx-widgets-footer">
        <div class="container">
            <div class="subscribe-wrapper">
                <div class="subscribe-block">
                    <section class="vc_section">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-4 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <a class="logo ltx-logo-" href="index.html">
                                            <img src="assets/uploads/2018/11/logo_01-1.png" alt="Holamed WordPress Theme"
                                                 srcset="//drug Store/wp-content/uploads/2018/11/logo_01-1.png 1x,//drug Store/wp-content/uploads/2018/11/logo_01_2x.png 2x">
                                        </a>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <script>
(function () {
                                                if (!window.mc4wp) {
                                                    window.mc4wp = {
                                                        listeners: [],
                                                        forms: {
                                                            on: function (event, callback) {
                                                                window.mc4wp.listeners.push({
                                                                    event: event,
                                                                    callback: callback
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            })();
                                                </script>
                                                <!-- MailChimp for WordPress v4.2.5 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-806" method="post"
                                                      data-id="806" data-name="Subscribe Form">
                                                    <div class="mc4wp-form-fields">
                                                        <div class="input-group">
                                                            <span class="input-group-append">
                                                                <button class="btn btn-main color-hover-gray" type="submit">ارسال</button>
                                                            </span>
                                                            <input type="email" name="EMAIL"
                                                                   class="footer-inpt text-right"
                                                                   placeholder="ایمیل را وارد کنید"
                                                                   required />


                                                        </div>
                                                    </div>
                                                    <label style="display: none !important;">
                                                        Leave this field empty if
                                                        you're human: <input type="text" name="_mc4wp_honeypot" value=""
                                                                             tabindex="-1"
                                                                             autocomplete="off" />
                                                    </label><input type="hidden" name="_mc4wp_timestamp" value="1615197008" /><input type="hidden" name="_mc4wp_form_id" value="806" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                                    <div class="mc4wp-response"></div>
                                                </form><!-- / MailChimp for WordPress Plugin -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_hidden-xs text-align-right-lg">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper text-left-imp">
                                                <div class="ltx-social ltx-nav-second">
                                                    <span class="header"><span>ما را دنبال کنید</span></span>
                                                    <ul>
                                                        <li>
                                                            <a href="#" target="_self">
                                                                <span class="fa fa-google-plus"></span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_self"><span class="fa fa-instagram"></span></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_self">
                                                                <span class="fa fa-facebook-f"></span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" target="_self">
                                                                <span class="fa fa-twitter"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-ms-12   matchHeight clearfix">
                    <div class="footer-widget-area">
                        <div id="text-10" class="widget widget_text">
                            <h4 class="header-widget">درباره ما</h4>
                            <div class="textwidget">
                                <p>
                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                </p>
                            </div>
                        </div>
                        <div id="ltx_icons-3" class="widget widget_ltx_icons">
                            <ul class="social-icons-list">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-phone"></span><strong> تلفن : </strong>+3 (092)
                                        508-38-01
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-map-marker"></span><strong> آدرس : </strong> تهران ،
                                        میدان آزادی
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-clock-o"></span><strong> ساعت کاری </strong> 8 صبح تا 5
                                        بعد از ظهر
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-ms-12 hidden-xs hidden-ms hidden-sm hidden-md matchHeight clearfix">
                    <div class="footer-widget-area">
                        <div id="ltx_navmenu-4" class="widget widget_ltx_navmenu">
                            <h4 class="header-widget">لینک ها</h4>
                            <div class="menu-main-menu-container">
                                <ul id="menu-main-menu-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5151 current_page_item current-menu-ancestor current-menu-parent current_page_ancestor menu-item-has-children menu-item-6137">
                                        <a href="index.html">خانه</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3557">
                                        <a href="about.html">درباره ما</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-619">
                                        <a href="shop.html">محصولات</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59">
                                        <a href="blog.html">بلاگ</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-60">
                                        <a href="gallery.html">گالری</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
                                        <a href="contacts.html">تماس با ما</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-has-mega-menu menu-item-61">
                                        <a href="testimonials.html">نطرات </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-ms-12 hidden-xs hidden-ms hidden-sm  matchHeight clearfix">
                    <div class="footer-widget-area">
                        <div id="ltx_blogposts-9" class="widget widget_ltx_blogposts">
                            <h4 class="header-widget">
                                بلاگ ها
                            </h4>
                            <div class="items">
                                <div class="post">
                                    <a href="blog-details.html"
                                       class="photo photo-left">
                                        <img width="128" height="84"
                                             src="assets/uploads/2018/11/blog_02-1-128x84.jpg"
                                             class="attachment-holamed-blog-tiny size-holamed-blog-tiny wp-post-image"
                                             alt=""
                                             srcset="http:drug Store/wp-content/uploads/2018/11/blog_02-1-128x84.jpg 128w, http:drug Store/wp-content/uploads/2018/11/blog_02-1-300x195.jpg 300w, http:drug Store/wp-content/uploads/2018/11/blog_02-1-755x500.jpg 755w"
                                             sizes="(max-width: 128px) 100vw, 128px" />
                                    </a>
                                    <div class="descr-right">
                                        <div class="blog-info">
                                            <ul>
                                                <li class="ltx-icon-date">
                                                    <a href="blog-details.html"
                                                       class="ltx-date"><span class="fa fa-clock-o"></span><span class="dt">20 اسفند 1399</span></a>
                                                </li>
                                                <li class="ltx-icon-fav">
                                                    <span class="fa fa-eye"></span><i>1</i>
                                                </li>
                                                <li class="ltx-icon-comments">
                                                    <span class="fa fa-comments"></span><i>5</i>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="blog-details.html">
                                            <h6>
                                                امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="post">
                                    <a href="blog.html"
                                       class="photo photo-left">
                                        <img width="128" height="84"
                                             src="assets/uploads/2018/11/blog_01-128x84.jpg"
                                             class="attachment-holamed-blog-tiny size-holamed-blog-tiny wp-post-image"
                                             alt=""
                                             srcset="http:drug Store/wp-content/uploads/2018/11/blog_01-128x84.jpg 128w, http:drug Store/wp-content/uploads/2018/11/blog_01-300x195.jpg 300w, http:drug Store/wp-content/uploads/2018/11/blog_01-340x227.jpg 340w, http:drug Store/wp-content/uploads/2018/11/blog_01-125x83.jpg 125w, http:drug Store/wp-content/uploads/2018/11/blog_01-755x500.jpg 755w, http:drug Store/wp-content/uploads/2018/11/blog_01.jpg 1600w"
                                             sizes="(max-width: 128px) 100vw, 128px" />
                                    </a>
                                    <div class="descr-right">
                                        <div class="blog-info">
                                            <ul>
                                                <li class="ltx-icon-date">
                                                    <a href="blog.html"
                                                       class="ltx-date"><span class="fa fa-clock-o"></span><span class="dt">19 اسفند 1399</span></a>
                                                </li>
                                                <li class="ltx-icon-fav">
                                                    <span class="fa fa-eye"></span><i>566</i>
                                                </li>
                                                <li class="ltx-icon-comments">
                                                    <span class="fa fa-comments"></span><i>1</i>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="blog.html">
                                            <h6>
                                                امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="copyright-block copyright-layout-default">
        <div class="container">
            <p>
                © طراحی شده توسط <a href="https://www.spad.co/">اسپاد</a>
            </p>
        </div>
    </footer>

    <script type='text/javascript' src='~/Content/client/assets/plugins/contact-form-7/includes/js/scripts1748.js?ver=5.0.5'></script>

    <script type='text/javascript' src='~/Content/client/assets/plugins/lt-custom/js/colorpicker5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/plugins/lt-custom/js/lt-custom5152.js?ver=1.0'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
    <script src="~/Content/client/assets/themes/drug-store/assets/css/bootstrap.js"></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/woocommerce/assets/js/frontend/cart-fragments.min9d52.js?ver=3.5.1'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/imagesloaded.min55a0.js?ver=3.2.0'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/masonry.mind617.js?ver=3.3.2'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/jquery/jquery.masonry.minef70.js?ver=3.1.2b'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.countdown3601.js?ver=2.2.0'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/themes/drug-store/assets/js/jquery.counterup.min5152.js?ver=1.0'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/themes/drug-store/assets/js/jquery.matchHeight8d9d.js?ver=4.9.16'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.nicescroll87e3.js?ver=3.7.6'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.swipeboxc2d0.js?ver=1.4.4'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/chart.minde39.js?ver=2.7.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/jquery.zoomsliderf096.js?ver=0.2.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/waypoint1f22.js?ver=1.6.2'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/affix7433.js?ver=3.3.7'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/themes/drug-store/assets/js/jquery.paroller.mine7f0.js?ver=1.3.1'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/swiperb523.js?ver=4.3.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/parallax.minc358.js?ver=1.1.3'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/parallax-scroll.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/scrollreveal7984.js?ver=3.3.4'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/scriptsb34d.js?ver=1.7.4'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/map-style8a54.js?ver=1.0.0'></script>
    <script type='text/javascript' src='~/Content/client/assets/themes/drug-store/assets/js/pace8d9d.js?ver=4.9.16'></script>
    <script type='text/javascript' src='~/Content/client/includes/js/wp-embed.min8d9d.js?ver=4.9.16'></script>
    @*<script src='https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js'></script>*@
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/js_composer/assets/js/dist/js_composer_front.min24b2.js?ver=5.5.5'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/js_composer/assets/lib/waypoints/waypoints.min24b2.js?ver=5.5.5'></script>
    <script type='text/javascript'
            src='~/Content/client/assets/plugins/mailchimp-for-wp/assets/js/forms-api.mind19b.js?ver=4.2.5'></script>


</body>

</html>
