@model SpadStorePanel.Core.Models.StaticContentDetail

<section class="vc_section text-align-center-md-sm-ms">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 48px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 48px;"></div>
                        <div class="visible-md" style="height: 48px;"></div>
                        <div class="visible-sm " style="height: 48px;"></div>
                        <div class="visible-ms" style="height: 48px;"></div>
                        <div class="visible-xs" style="height: 48px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="heading  default align-left color-black subcolor-main transform-default has-subheader icon-type-hidden heading-tag-h2"
                         id="like_sc_header_1663809241">
                        <h6 class="subheader ltx-sr-id-like_sc_header_16638092411779979755 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-100 ltx-sr-duration-300 ltx-sr-sequences-50">
                            درباره ما
                        </h6>
                        <h2 class="header ltx-sr-id-like_sc_header_1663809241482346485 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0">
                            @Model.Title
                        </h2>
                    </div>
                    <div class="ltx-content-width col-align-left"
                         id="like_sc_content_width_25879224" style="max-width: 620px">
                        <div class="ltx-wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>
                                  @Html.Raw(Model.ShortDescription)
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 24px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 24px;"></div>
                        <div class="visible-md" style="height: 24px;"></div>
                        <div class="visible-sm " style="height: 24px;"></div>
                        <div class="visible-ms" style="height: 24px;"></div>
                        <div class="visible-xs" style="height: 24px;"></div>
                    </div>
                    <div class="btn-wrap">
                        <a href="/AboutUs"
                           class="btn  btn-default color-hover-default"
                           id="like_sc_button_1554864286">بیشتر بدانید</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="heading  default align-left color-black subcolor-main transform-default has-subheader icon-type-hidden heading-tag-h3"
                         id="like_sc_header_1614141539">
                        <h6 class="subheader ltx-sr-id-like_sc_header_16141415391385987731 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-100 ltx-sr-duration-300 ltx-sr-sequences-50">
                            مهارت های ما
                        </h6>
                        <h3 class="header ltx-sr-id-like_sc_header_1614141539551472886 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0">
                            داروخانه امیر آباد
                        </h3>
                    </div>
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 16px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 16px;"></div>
                        <div class="visible-md" style="height: 16px;"></div>
                        <div class="visible-sm " style="height: 16px;"></div>
                        <div class="visible-ms" style="height: 16px;"></div>
                        <div class="visible-xs" style="height: 16px;"></div>
                    </div>
                    <div class="ltx-countup  animation-ltx-circle layout-default"
                         id="like_sc_header_1453730557">
                        <div class="row centered">
                            <div class=" col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                                <div class=" countUp-item item">
                                    <canvas id="like_sc_header_1453730557-9734-canvas"
                                            width="200" height="200"></canvas>
                                    <div class="ltx-chart-doughnut" data-percent="85"></div>
                                    <h2 class="header">
                                        <span class="countUp"
                                              id="like_sc_header_1453730557-0">85</span>%
                                    </h2>
                                    <h4 class="subheader">بهترین پزشکان</h4>
                                </div>
                            </div>
                            <div class=" col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                                <div class=" countUp-item item">
                                    <canvas id="like_sc_header_1453730557-6455-canvas"
                                            width="200" height="200"></canvas>
                                    <div class="ltx-chart-doughnut" data-percent="68"></div>
                                    <h2 class="header">
                                        <span class="countUp"
                                              id="like_sc_header_1453730557-1">68</span>%
                                    </h2>
                                    <h4 class="subheader">بهترین دارو ها</h4>
                                </div>
                            </div>
                            <div class=" col-md-4  col-sm-6 col-ms-6 col-xs-12 center-flex countUp-wrap">
                                <div class=" countUp-item item">
                                    <canvas id="like_sc_header_1453730557-9988-canvas"
                                            width="200" height="200"></canvas>
                                    <div class="ltx-chart-doughnut" data-percent="79"></div>
                                    <h2 class="header">
                                        <span class="countUp"
                                              id="like_sc_header_1453730557-2">79</span>%
                                    </h2>
                                    <h4 class="subheader">تنوع دارویی</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 48px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 48px;"></div>
                        <div class="visible-md" style="height: 48px;"></div>
                        <div class="visible-sm " style="height: 48px;"></div>
                        <div class="visible-ms" style="height: 48px;"></div>
                        <div class="visible-xs" style="height: 48px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
<section data-vc-full-width="true" data-vc-full-width-init="false"
         class="vc_section vc_custom_1541694063500 bg-color-gray ltx-overlay bg-overlay-waves">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 64px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 64px;"></div>
                        <div class="visible-md" style="height: 64px;"></div>
                        <div class="visible-sm " style="height: 64px;"></div>
                        <div class="visible-ms" style="height: 32px;"></div>
                        <div class="visible-xs" style="height: 32px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid text-align-center-sm-ms">
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="ltx-content-width col-align-left"
                         id="like_sc_content_width_955480340" style="max-width: 640px">
                        <div class="ltx-wrapper">
                            <div class="heading align-left color-main subcolor-black transform-default icon-type-hidden   vc_custom_1541694338620 heading-tag-h2"
                                 id="like_sc_header_2112424913">
                                <h2 class="header ltx-sr-id-like_sc_header_2112424913370220473 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0">
                                    داروخانه آنلاین<br />
                                    <span> امیر آباد </span>
                                </h2>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>
                                        <span class="text-lg">
                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                            امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                        </span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 16px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 16px;"></div>
                        <div class="visible-md" style="height: 16px;"></div>
                        <div class="visible-sm " style="height: 16px;"></div>
                        <div class="visible-ms" style="height: 16px;"></div>
                        <div class="visible-xs" style="height: 16px;"></div>
                    </div>
                    <ul class="ltx-block-icon icons-count-4  ltx-icon-ht-right align-left ltx-icon-type-circle layout-cols2  row centered"
                        id="like_sc_block_icon_1661115447">
                        <li class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-ms-12 col-xs-12">
                            <div data-mh="ltx-block-icon-in-1024" class="in matchHeight">
                                <span class="ltx-icon icon-neurology_2 bg-bg-transparent"
                                      data-mh="ltx-icon-span-like_sc_block_icon_1661115447"></span>
                                <div class="block-right">
                                    <h5 class="header">
                                        بهترین پزشکان
                                    </h5>
                                    <div class="descr">
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-ms-12 col-xs-12">
                            <div data-mh="ltx-block-icon-in-1024" class="in matchHeight">
                                <span class="ltx-icon icon-mamary-gland bg-bg-transparent"
                                      data-mh="ltx-icon-span-like_sc_block_icon_1661115447"></span>
                                <div class="block-right">
                                    <h5 class="header">
                                        بهترین پزشکان
                                    </h5>
                                    <div class="descr">
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-ms-12 col-xs-12">
                            <div data-mh="ltx-block-icon-in-1024" class="in matchHeight">
                                <span class="ltx-icon icon-ortop bg-bg-transparent"
                                      data-mh="ltx-icon-span-like_sc_block_icon_1661115447"></span>
                                <div class="block-right">
                                    <h5 class="header">
                                        بهترین پزشکان
                                    </h5>
                                    <div class="descr">
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-ms-12 col-xs-12">
                            <div data-mh="ltx-block-icon-in-1024" class="in matchHeight">
                                <span class="ltx-icon icon-liver bg-bg-transparent"
                                      data-mh="ltx-icon-span-like_sc_block_icon_1661115447"></span>
                                <div class="block-right">
                                    <h5 class="header">
                                        بهترین پزشکان
                                    </h5>
                                    <div class="descr">
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                        امیر آباد یکی از بهترین ها در زمینه فروش آنلاین دارو است ،
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 50px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 50px;"></div>
                        <div class="visible-md" style="height: 50px;"></div>
                        <div class="visible-sm " style="height: 50px;"></div>
                        <div class="visible-ms" style="height: 40px;"></div>
                        <div class="visible-xs" style="height: 40px;"></div>
                    </div>
                    <div class="btn-wrap">
                        <a href="/Shop"
                           class="btn  btn-lg btn-black color-hover-default"
                           id="like_sc_button_837957439">مشاهده محصولات</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 48px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 48px;"></div>
                        <div class="visible-md" style="height: 48px;"></div>
                        <div class="visible-sm " style="height: 48px;"></div>
                        <div class="visible-ms" style="height: 48px;"></div>
                        <div class="visible-xs" style="height: 48px;"></div>
                    </div>


                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                            <div class="ltx-ripples">
                                <div class="ltx-ripple ripple-1"></div>
                                <div class="ltx-ripple ripple-2"></div>
                                <div class="ltx-ripple ripple-3"></div>
                            </div>
                        </div>
                    </div>

                    <div class="wpb_single_image wpb_content_element vc_align_center">

                        <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                <img width="721" height="687"
                                     src="~/Content/client/assets/uploads/2018/11/mri.png"
                                     class="vc_single_image-img attachment-full" alt=""
                                     srcset="http:drug Store/wp-content/uploads/2018/11/mri.png 721w, http:drug Store/wp-content/uploads/2018/11/mri-300x286.png 300w, http:drug Store/wp-content/uploads/2018/11/mri-340x324.png 340w, http:drug Store/wp-content/uploads/2018/11/mri-600x572.png 600w, http:drug Store/wp-content/uploads/2018/11/mri-24x24.png 24w, http:drug Store/wp-content/uploads/2018/11/mri-125x119.png 125w"
                                     sizes="(max-width: 721px) 100vw, 721px" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="es-resp">
                        <div class="visible-xl" style="height: 80px;"></div>
                        <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                             style="height: 80px;"></div>
                        <div class="visible-md" style="height: 80px;"></div>
                        <div class="visible-sm " style="height: 80px;"></div>
                        <div class="visible-ms" style="height: 64px;"></div>
                        <div class="visible-xs" style="height: 64px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>